@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
    background-image: radial-gradient(circle at 90% -10%, #d5ebff 0%, #f4f8fd 52%);
    font-family: 'IBM Plex Sans', 'Segoe UI', sans-serif;
    text-rendering: optimizeLegibility;
  }

  #root {
    min-height: 100vh;
  }
}
